@charset "UTF-8";


body {
    background-image: linear-gradient(to right, #F2C9D1, #E0AFA0);
}

main{
    background-color: #e6d3d6;
    text-align: center;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    padding: 10px;
    box-shadow: 5px 5px 15px #97776d;
    border-radius: 5px;
}

h1, h2 {
    font: italic bold 2em Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 5px black;
}

p {
    font: italic normal 1em Arial, Helvetica, sans-serif;
}

emoji {
    font-size: 80%;
}

a {
    color: mediumblue;
    text-decoration: none;
}

a:visited {
    color: darkred;
}

a:hover {
    color: red;
}

