@charset "UTF-8";


body { 
    background-image: linear-gradient(to right, #F2C9D1, #E0AFA0);
}

main {
    background-color: whitesmoke;
    width: 1200px;
    margin: auto;
    padding: 10px;
    box-shadow: 5px 5px 15px #97776d;
    border-radius: 5px;
    
}

h1 {
    font: normal bold 2em Arial, Helvetica, sans-serif;
}

h2 {
    font: normal normal 1.5em Arial, Helvetica, sans-serif;
}

h3 {
    font: normal bold 1.1em Arial, Helvetica, sans-serif;
}

p {
    font: normal normal 1em Arial, Helvetica, sans-serif;
}

a {
    color: mediumblue;
    text-decoration: none;
}

a:visited {
    color: darkred;
}

a:hover {
    color: red;
}